---
import BaseLayout from "@layout/BaseLayout.astro";
import Icon from "@ui/icons/Icon.astro";
import Button from "@ui/Button.astro";
import type { WithContext, Thing } from "schema-dts";

export const pageContent = {
  errorCode: "404",
  title: "Página no encontrada",
  description: "Lo sentimos, no hemos encontrado la página que buscas.",
  goBackLabel: "Volver",
};

const resources = [
  {
    title: "Inicio",
    description: "Volver a la página principal.",
    icon: "info",
    link: "/",
  },
  {
    title: "Blog",
    description: "Explora artículos y recursos.",
    icon: "articles",
    link: "/blog",
  },
  {
    title: "Contacto",
    description: "Ponte en contacto con nosotros.",
    icon: "blankDocument",
    link: "/contactar",
  },
];

const seo = {
  title: "Página no encontrada - ATRA Y Obesidad",
  description:
    "Lo sentimos, no hemos encontrado la página que buscas. Vuelve a la página principal o consulta nuestro blog.",
};

const schema: WithContext<Thing> = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  inLanguage: "es-ES",
  "@id": Astro.url.href,
  url: Astro.url.href,
  name: "Página no encontrada",
  description:
    "Lo sentimos, no hemos encontrado la página que buscas. Vuelve a la página principal o consulta nuestro blog.",
  isPartOf: {
    "@type": "WebSite",
    url: `${Astro.site}`,
    name: "ATRA Y Obesidad",
    description: "Asociación ATRA Y Obesidad Salamanca",
  },
};
---

<BaseLayout seo={seo} schema={schema}>
  <section
    class="grid min-h-full place-items-center px-6 pb-10 pt-32 sm:pt-48 lg:px-8"
  >
    <div class="text-center">
      <p class="text-xl font-semibold text-teal-600">
        {pageContent.errorCode}
      </p>
      <h1
        class="mt-4 text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
      >
        {pageContent.title}
      </h1>
      <p
        class="mt-6 text-pretty text-lg font-medium text-slate-500 sm:text-xl/8"
      >
        {pageContent.description}
      </p>
    </div>

    <div class="mx-auto w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
      <div class="mx-auto w-full max-w-lg px-4 sm:px-6 lg:px-8">
        <ul class="divide-y divide-dashed divide-slate-300">
          {
            resources.map((resource) => (
              <li>
                <a
                  href={resource.link}
                  class="group flex gap-x-5 px-2 py-8 transition hover:bg-slate-100"
                >
                  <Icon name={resource.icon} class="size-6 text-teal-600" />
                  <div class="grow">
                    <h3 class="font-semibold text-slate-600 transition group-hover:text-teal-700">
                      {resource.title}
                    </h3>
                    <p class="mt-1 text-slate-500">{resource.description}</p>
                  </div>
                  <Icon
                    name="chevronRight"
                    class="self-center text-slate-400 transition"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-5 flex items-center justify-center">
        <Button id="go-back" variant="primary">{pageContent.goBackLabel}</Button
        >
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("astro:page-load", async () => {
      const goBackButton = document.getElementById(
        "go-back",
      ) as HTMLButtonElement;

      goBackButton.addEventListener("click", () => {
        history.back();
      });
    });
  </script>
</BaseLayout>
